.team-members {
  list-style: none;
  padding: 50px 0;

  &__title {
    text-align: center;
    margin: 0 auto 40px;

    h2 {
      font-size: 40px;
      color: $text-black;
    }
  }

  &__list {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__list-item {
    position: relative;
  }

  &__list-item-overlay {
    display: block;
    position: absolute;
    padding: 70px 20px 0px;
    top: 75%;
    left: 0;
    right: 0;
    bottom: 0;

    background: linear-gradient(0deg, rgba(252,97,43,1) 4%, rgba(255, 255, 255, 0) 100%);
  }

  &__person-position {
    font-size: 14px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.64);
  }

  &__person-name {
    font-size: 24px;
    font-weight: 600;
    color: $color-one;
    margin-top: 5px;
  }
}

//Background color section

.team-member-slider.white {
  background-color: $color-one;
}

.team-member-slider.orange {
  background-color: $color-four;
}

.team-member-slider.beige {
  background-color: $background-four;
}
