/* Hero Component
--------------------- */
.hero-location-section {
  position: relative;
  min-height: 75vh;
  background-position: 50% 50% !important;

  &:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    background: linear-gradient(90.21deg, rgba(0, 0, 0, 0.67) 15.0%, rgba(0, 0, 0, 0) 82.81%);
  }

  @include media($medium) {
    min-height: 80vh;
    margin-bottom: 50px;
  }

  .bg-image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .l-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background: linear-gradient(-90deg, rgba(255, 255, 255, 0.04) 0%, rgba(0, 0, 0, 0.4) 50%);
    @include media($medium) {
      background: transparent;
    }
  }

  .hero-content {
    position: relative;
    top: 50%;
    right: 0;
    transform: translate(0%, -50%);
    z-index: 9;
    @include media($medium) {
      max-width: 490px;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      top: 50%;
      right: 0;
      transform: translate(0%, -50%);
      z-index: 2;
    }

    .sub-title {
      font-size: 32px;
      font-weight: 400;
      margin-bottom: 10px;
      color: $color-four;

      @include media($medium) {
        font-size: 36px;
      }
    }

    .page-title {
      font-size: 38px;
      color: $color-one;
      line-height: 1.2em;
      margin-bottom: 0.10rem;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.71);
      max-width: 520px;
      @include media($medium) {
        font-size: 48px;
        margin-bottom: 0.5rem;
      }
    }

    .description {
      margin-top: 0;
      max-width: 520px;

      h4 {
        font-size: 28px;
        font-weight: 400;
        color: $color-one;

        @include media($medium) {
          font-size: 36px;
        }
      }

      p {
        font-size: 14px;
        font-weight: 700;
        color: $color-one;

        @include media($medium) {
          max-width: 500px;
          font-size: 18px;
          line-height: 25px;
        }
      }
    }

    .button {
      display: inline-block;
      padding: 10px 20px;
      margin-bottom: 2rem;
      background-color: $color-four;
      border: 2px solid $color-four;

      &:hover {
        border: 2px solid $color-four;
        background: transparent;
      }

      @include media($medium) {
        padding: 12px 25px;
        margin-bottom: 5rem;
      }
    }

    .book_file {
      font-weight: 400;
      color: $color-one;

      &:hover {
        color: $color-four;
      }
    }
  }


  &.card {
    align-items: flex-end;
    min-height: 400px;

    @include media($medium) {
      min-height: 540px;
    }

    .hero-content {
      margin-top: 150px;
      margin-bottom: 0;
      max-width: 468px;
      width: 100%;
      padding: $pad;
      background-color: $background-one;
      text-align: center;

      .button {
        margin-top: $margin-small;
      }

      .standard {
        margin-top: $margin-small;
      }
    }
  }

  &.outer-hero {
    min-height: 200px;
    @include media($medium) {
      min-height: 360px;
    }
  }


}

.category {
  .blog-hero {
    .inner-wrapper {
      height: auto;
    }
  }
}


//helpfull snippet
.file-name-snippet {
  font-size: 10px;
  font-weight: 300;
  line-height: 1;
  padding: 5px;
  color: $color-one;
  background-color: $color-five;
  position: fixed;
  left: 0px;
  bottom: 0px;
  z-index: 999999;
}
.template-single_location-page{
  .hero-location-section{
    .hero-content{
      z-index: 2;
    }
    &:after{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      content: '';
      background: linear-gradient(90.21deg, rgba(0, 0, 0, 0.67) 0.17%, rgba(0, 0, 0, 0) 99.81%);
    }
  }
}
