/* Contact Styles
--------------------- */
.contact {
  background-color: $background-cyan;
  padding: 80px 0;
  @media (max-width: $medium-width) {
    padding: 50px 0;
  }

  .l-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
    @media (max-width: $medium-width) {
      flex-direction: column;
    }
  }

  &__title {
    font-size: 40px;
    font-weight: 400;
    line-height: 1.25em;
  }

  &__g-form-block {
    width: 100%;

    h2 {
      font-size: 40px;
      font-weight: 400;
    }
  }
}

