.four-columns-section {
  padding: 50px 0 25px;
  @include media($medium) {
    padding: 100px 0 50px;
  }

  &__title {
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 20px;
    text-align: center;
    @include media($medium) {
      margin-bottom: 40px;
      font-size: 40px;
      line-height: 50px;
      text-align: left;
    }
  }
}

.description-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  line-height: normal;
  gap: 25px;
  @include media($small) {
    gap: 30px;
  }
  @include media($medium) {
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 60px;
  }

  &__item {
    text-align: left;
    color: $text-one;
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;

    @include media($small) {
      width: 40%;
    }

    @include media($medium) {
      width: 100%;
    }
  }

  &__item-headline {
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 10px;

    //@include media($medium) {
    //  margin-bottom: 10px;
    //}
  }

  &__item-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2em;
    margin: 0;
  }
}

//Background color section
.four-columns-section.white {
  background-color: $color-one;
}

.four-columns-section.orange {
  background-color: $color-four;
}

.four-columns-section.beige {
  background-color: $background-four;
}
