.learn-about-cta {
  margin: 0 auto;
  height: 100%;
  background-color: $text-one;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: baseline;
    padding: 25px 25px;

    @include media($medium) {
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      padding: 25px 100px;
    }

    p {
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
      color: $color-one;
      max-width: 100%;
      margin: 0 0 1em 0;
      @include media($medium) {
        line-height: 1.75em;
        max-width: 70%;
        text-align: left;
      }
    }
  }

  &__link.button {
    font-weight: 700;
    border: 1px solid $color-one;
    background-color: transparent;
    color: $color-one;

    &:hover {
      background: $color-one;
      color: $text-one;
      opacity: 1;
    }
  }
}
