/* Pagination Styles
--------------------- */
#load-more {
	width: 100%;
	text-align: center;

	.button a{
		display: inline-block;
		font-size: 16px;
		font-weight: 700;
		text-transform: uppercase;
		text-decoration: none;
		width: auto;
		padding: 12px 20px;
		color: $color-one;
		background: $background-six;
		border: 2px solid $background-six;

		&:hover {
			background: transparent;
			color: $color-five;
		}
	}
}
